<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="connStr" connectionString="server=.;DataBase=EmailDB;Uid=sa;Pwd=sa;"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <pages validateRequest="false"></pages>
    <httpRuntime requestValidationMode="2.0"/>
  </system.web>
</configuration>