* {
            margin: 0;
            padding: 0;
        }

        body {
            min-width: 1024px;
            width: 100%;
            height: auto;
            background: white;
            font-size: 12px;
            min-height: 662px;
        }

        .dm {
            width: 100%;
            height: auto;
            min-height: 590px;
        }

        .head {
            width: 100%;
            height: 50px;
            border-bottom: 1px solid #C8CFDA;
        }

        .info {
            width: 100%;
            height:auto;
            min-height:100px;
            background: #F4F6F8;
            border-bottom: 1px solid #C8CFDA;
        }
        .title {
            width: 100%;
            box-sizing: border-box;
        }

        .pTitle {
            padding-top: 15px;
            height: 25px;
            font: bold 14px "lucida Grande",Verdana,"Microsoft YaHei";
            padding-left: 20px;
        }

        .pSend, .pReceive, .pTime {
            height: 22px;
            line-height: 22px;
            padding-left: 20px;
            font-size: 12px;
            font-family: "lucida Grande",Verdana,"Microsoft YaHei";
        }
        .content {
            padding:20px;
            font-size:16px;
        }